<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="~{template :: header}"></th:block>
<body>

<th:block th:insert="~{template :: navbar}"></th:block>

<div class="container-fluid bg-light p-5">
    <h1 class="text-center" th:text="${book.name}">Book name placeholder</h1>
</div>

<div class="container mx-auto my-5" style="max-width: 600px">
    <div class="row">
        <div class="col-md-12">
            <p th:utext="${book.description}">Description placeholder</p>
            <br>
            <p><b>Code: </b><span class="badge bg-info" th:text="${book.id}"></span></p>
            <p><b>Author: </b> [(${book.author})]</p>
            <p><b>Publisher: </b> [(${book.publisher})]</p>
            <p><b>Release: </b> [(${book.releaseDate})]</p>
            <p><b>Category: </b> [(${book.category})]</p>
            <p><b>Stocks left: </b> [(${book.stock})]</p>
            <h4 th:text="'&#x20A9;' + ${#numbers.formatInteger(book.price,1,'DEFAULT')}">Price placeholder</h4>
            <br>
            <p>
                <a class="btn btn-primary me-2" href="#">Order</a>
                <a class="btn btn-secondary" href="/books">Browse</a>
            </p>
        </div>
    </div>
</div>

<th:block th:insert="~{template :: footer}"></th:block>

</body>
</html>