<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/books.css" rel="stylesheet"/>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <script src="/js/bootstrap.bundle.min.js"></script>
  <title>Library</title>
</head>
<body>

<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <!--suppress CheckImageSize -->
      <img src="/img/book.png" alt="Logo" width="35" height="35">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#side-nav"
            aria-controls="side-nav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="side-nav" aria-labelledby="side-nav-title">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="side-nav-title">Navigation</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div class="navbar-nav me-auto">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/books">Books</a>
          <a class="nav-link" href="#">Gallery</a>
        </div>
        <div class="navbar-nav">
          <a class="nav-link" href="#">Log in</a>
          <a class="nav-link" href="/member/register">Sign up</a>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid bg-light p-5">
  <h2 class="text-center">List of Books</h2>
</div>

<div class="container mb-5">
  <div class="row" style="justify-content: center">
    <div th:each="book : ${bookList}" class="col-md-4 m-5">
      <h3 id="name" th:text="${#strings.abbreviate(book.name, 30)}"></h3>
      <p>
        [(${book.author})]<br>
        [(${book.publisher})] | [(${book.releaseDate})]
      </p>
      <p id="description">
        [(${#strings.abbreviate(book.description, 120)})]
      </p>
      <p class="d-flex justify-content-center">&#x20A9;[(${#numbers.formatInteger(book.price,1,'DEFAULT')})]</p>
      <p>
        <a class="btn btn-primary d-grid col-3 mx-auto" href="book.html" th:href="@{/book(id=${book.id})}">View</a>
      </p>
    </div>
  </div>
</div>

<footer class="container">
  <hr>
  <p>&copy; WebMarket</p>
</footer>

</body>
</html>