<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <title>Home</title>
</head>
<body>

<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <div class="row justify-content-start">
            <a class="col navbar-brand" href="/">
                <!--suppress CheckImageSize -->
                <img src="/img/book.png" alt="Logo" width="35" height="35">
            </a>
            <div class="col navbar-nav">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
                <a class="nav-link" href="/books">Books</a>
                <a class="nav-link" href="#">Gallery</a>
            </div>
        </div>
        <div class="navbar-nav d-flex justify-content-end">
            <a class="nav-link" href="#">Log in</a>
            <a class="nav-link" href="/member/register">Sign up</a>
        </div>
    </div>
</nav>

<div class="container-fluid bg-light p-5 mb-5">
    <div class="container">
        <h1 class="display-3">Welcome to BookMarket</h1>
    </div>
</div>

<div class="container">
    <div class="text-center">
        <h4>Server Time</h4>
        <p th:text="${serverTime}">ServerTime placeholder</p>
        <p>
            <a class="btn btn-primary mt-4" type="button" href="/books">Browse &raquo;</a>
        </p>
    </div>
</div>

<footer class="container mt-5">
    <hr>
    <p>&copy; WebMarket</p>
</footer>

</body>
</html>
