<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <title>Home</title>
</head>
<body>

<nav th:insert="~{template :: navbar}"></nav>

<div class="container-fluid bg-light p-5 mb-5">
    <h2 class="text-center">Welcome to BookMarket!</h2>
</div>

<div class="container">
    <div class="text-center">
        <h4>Server Time</h4>
        <p th:text="${serverTime}">ServerTime placeholder</p>
        <p>
            <a class="btn btn-primary mt-4" type="button" href="/books">Browse &raquo;</a>
        </p>
    </div>
</div>

<footer class="container mt-5">
    <hr>
    <p>&copy; WebMarket</p>
</footer>

</body>
</html>
