<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="~{template :: header}"></th:block>
<body>

<th:block th:insert="~{template :: navbar}"></th:block>

<div class="container-fluid bg-light p-5 mb-5">
    <h2 class="text-center">Welcome to BookMarket!</h2>
</div>

<div class="container">
    <div class="text-center">
        <h4>Server Time</h4>
        <p th:text="${serverTime}">ServerTime placeholder</p>
        <p>
            <a class="btn btn-primary mt-4" type="button" href="/books">Browse &raquo;</a>
        </p>
    </div>
</div>

<th:block th:insert="~{template :: footer}"></th:block>

</body>
</html>
