<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="~{template :: header}"></th:block>
<script src="/js/member-login.js"></script>
<body>

<page-info name="login"></page-info>
<th:block th:insert="~{template :: navbar}"></th:block>

<div class="container-fluid bg-light p-5 mb-3">
    <h2 class="text-center">Sign into your account</h2>
</div>

<div class="container mx-auto" style="max-width: 320px">
    <form id="login-form" action="/member/login" method="post" class="mb-5">
        <div class="mb-3">
            <label class="form-label" for="id">ID</label>
            <input class="form-control" type="text" id="id" name="id" aria-describedby="id-feedback" required>
            <div id="id-feedback" class="invalid-feedback">This field is required!</div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="pwd">Password</label>
            <input class="form-control" type="password" id="pwd" name="password" aria-describedby="pwd-feedback" required>
            <div id="pwd-feedback" class="invalid-feedback">This field is required!</div>
        </div>
    </form>
    <div class="d-grid mt-5 mb-3">
        <button id="login-btn" class="btn btn-primary me-2">Login</button>
    </div>
</div>

<th:block th:insert="~{template :: footer}"></th:block>

</body>
</html>