<!DOCTYPE html>
<html lang="en">
<th:block th:insert="~{template :: header}"></th:block>
<script src="/js/member-register.js"></script>
<body>

<page-info name="register"></page-info>
<th:block th:insert="~{template :: navbar}"></th:block>

<div class="container-fluid bg-light p-5 mb-3">
    <h2 class="text-center">Create a new account</h2>
</div>

<div class="container mx-auto" style="max-width: 320px">
    <form action="/member/register" method="post" class="mb-5">
        <div class="mb-3">
            <label class="form-label" for="id">ID</label>
            <input class="form-control" type="text" id="id" name="id" aria-describedby="id-feedback" required>
            <div id="id-feedback" class="invalid-feedback"></div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="pwd">Password</label>
            <input class="form-control" type="password" id="pwd" name="password" required>
            <div class="invalid-feedback">Too short password! (6 characters or greater)</div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="res">Residence</label>
            <select class="form-select" id="res" name="residence" required>
                <option value="">Select your region</option>
                <optgroup label="City">
                    <option>Seoul</option>
                    <option>Busan</option>
                    <option>Daegu</option>
                    <option>Incheon</option>
                    <option>Gwangju</option>
                    <option>Daejeon</option>
                    <option>Ulsan</option>
                    <option>Sejong</option>
                </optgroup>
                <optgroup label="Province">
                    <option>Gyeonggi</option>
                    <option>Gangwon</option>
                    <option>North. Chungcheong</option>
                    <option>South. Chungcheong</option>
                    <option>North. Jeolla</option>
                    <option>South. Jeolla</option>
                    <option>North. Gyeongsang</option>
                    <option>South. Gyeongsang</option>
                    <option>Jeju</option>
                </optgroup>
            </select>
        </div>
        <div class="mb-3">
            <label class="mb-1">Sex</label>
            <div>
                <span class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="male" name="sex" value="0" required>
                    <label class="form-check-label" for="male">Male</label>
                </span>
                <span class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="female" name="sex" value="1" required>
                    <label class="form-check-label" for="female">Female</label>
                </span>
                <span class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="other" name="sex" value="2" required>
                    <label class="form-check-label" for="other">Other</label>
                </span>
            </div>
        </div>
        <fieldset class="border bg-light mt-4 mb-4 p-3">
            <h5 class="text-center">Optional field</h5>
            <h6>Hobby</h6>
            <div>
                <span class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="reading" name="hobbies" value="reading">
                    <label class="form-check-label" for="reading">Reading</label>
                </span>
                <span class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="exercise" name="hobbies" value="exercise">
                    <label class="form-check-label" for="exercise">Exercise</label>
                </span>
                <span class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="gaming" name="hobbies" value="gaming">
                    <label class="form-check-label" for="gaming">Gaming</label>
                </span>
            </div>
        </fieldset>
        <div class="mb-3">
            <button type="submit" id="form-submit-btn" class="btn btn-primary me-2">Register</button>
            <button type="reset" id="form-reset-btn" class="btn btn-danger">Reset</button>
        </div>
    </form>
</div>

<th:block th:insert="~{template :: footer}"></th:block>

</body>
</html>